/* Write your CSS here */
.bg-container {
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
}

.destinations-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sm-container {
  background-color: #f1f5f9;
}
@media screen and (min-width: 768px) {
  .destinations-search-container {
    text-align: center;
    color: #252627;
    font-family: 'Roboto';
    font-size: 40px;

    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 768px) {
  .heading {
    margin-top: 0px;
  }
}
.search-input-container {
  display: flex;
  background-color: #f1f5f9;
  border-radius: 8px;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-right: 16px;
  margin-left: 15px;
}

.search-input {
  color: #0f172a;
  background-color: #f1f5f9;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
}
.search-icon {
  height: 20px;
  width: 20px;
}
.des-con {
  margin-top: 20px;
  
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 10pxpx;
  margin-bottom: 300px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.destinations-list {
  list-style-type: none;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;

  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .destinations-list {
    justify-content: center;
  }
}
.heading {
  font-size: 30px;
}
